@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto !important;

  color-scheme: light dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto !important;
}

.s-shadow {
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 9px, rgb(255 255 255 / 15%) 0px 0px 3px 1px;
}

/* scrollbar  */
*::-webkit-scrollbar {
  width: 0px;
}
 
/* *::-webkit-scrollbar-track { */
/*     background: red; */
/* } */
/*   */
/* *::-webkit-scrollbar-thumb { */
/*   border-radius: 100px; */
/*   background: white; */
/* } */

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     color: #213547; */
/*     background-color: #ffffff; */
/*   } */
/*   a:hover { */
/*     color: #747bff; */
/*   } */
/*   button { */
/*     background-color: #f9f9f9; */
/*   } */
/* } */
